<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">NoteTaker</h3>
</div>

<form class="well">
	<div class="row">
  	<h1>Add Note</h1>
	</div>
	<div class="row">
  	<textarea class="btn-block" ng-model="newNote"></textarea>
	</div>
	<div class="row">
  	<button class="btn btn-lg btn-primary btn-block" ng-click="saveNote()">Submit</button>
	</div>
	<div class="row">
  	<button class="btn btn-lg btn-primary btn-block" ng-click="removeAll()">Remove All Notes in Storage</button>
	</div>
</form>

<div class="row">
	<div ng-repeat="note in notes">
		{{note}}
	</div>
</div>

<div class="footer">
	
</div>
